body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #afeeee;
    color: black;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.about-me {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.profile-image {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.center {
    text-align: center;
    margin-top: 30px;
}

ul {
    margin-left: 40px;
}

a {
    color: rgb(15, 18, 221);
}

a:hover {
    text-decoration: underline;
}
